.fourth__content {
    margin-top: 50px;
    display: flex;
}


.content__karti {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.karti__block {
    margin: 10px 30px;
}
.block__pictures {
    display: flex;
    width: 250px;
    height: 187px;
    position: relative;
}
.pictures__photo {
    width: 250px;
    height: 187px;
}
.pictures__photo img {
    width: 250px;
    height: 187px;
}

.abc__text {
    position: absolute;
    top: 30px;
    color: white;
    background: #545BE8;
    padding: 5px 10px;
}
.abc__cena {
    position: absolute;
    color: white;
    font-weight: bold;
    top: 150px;
    left: 170px;    
}





.aab__block {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.1);
    height: 80px;
    width: 250px;
}
.block__nizblocka {
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    
}
.nizblocka__name {
    margin-left: 10px;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #323232;
}
.nizblocka__views {
    margin-right: 10px;
    color: #545BE8;
    font-size: 12px;
}
.block__video {
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: #636363;
}
.video__odin {
    padding-right: 10px;
}
.video__dva {

}









.fourth__slova {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.slova__title {
    color: #545BE8;
    font-weight: 300;
}
.slova__subtitle {
    margin-top: 30px;
    font-weight: bold;
    font-size: 78px;
    color: #323232;
}
.slova__text {
    margin-top: 30px;
    color: #c1c1c1;
}
.slova__knopka {
    margin-top: 30px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #545BE8;
    border-radius: 4px;
    width: 240px;
}